*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: auto;
	width: 100%;
	background-image: url("../image/bg\ landing.png");
	background-size:cover;
	position: absolute;
}
